.featured-blogs-container{
    background-color: #282828;
    color: #FAF9F6;
    padding: 10px;
    overflow-x: hidden;
}

.featured-blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured-blogs .featured-blog{
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
}

.featured-blogs .featured-blog .featured-blog-image img{
    border-radius: 5px;
    height: 50vh;
    width: 100%;
}

.featured-blogs .featured-blog .featured-blog-image img:hover{
    cursor: pointer;
}

.featured-blogs .featured-blog .blog-description{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   width: 100%;
}