.register-container{
    background-color: #282828;
    color: #FAF9F6;
    padding: 10px;
    width: 100%;
    padding-bottom: 200px;
}
.register-container .register-form{
    margin-top: 100px;
    width: 50%;
    justify-self: center;
}

.register-container .register-form form input{
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.register-container .register-form form .input-class{
    margin: 10px;
}
.register-container .register-form form  button{
    width: 100%;
    padding: 12px;
    background-color: #32CD32;
    outline: 0;
    border: 0;
    font-size: x-large;
}
.register-container .register-form form  button:hover{
    cursor: pointer;
}
.register-container .register-form p{
    text-align: center;
}

.register-container .register-form span{
    cursor: pointer;
}

.register-container .register-form form select{
    width: 100%;
    padding: 20px;
}

#user-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#avatar-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

/*
black
  #000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/
