@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.nunito{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.cormorant-upright-regular {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

*::-webkit-scrollbar {
  width: 0px; 
}
*::-webkit-scrollbar-track {
  background: #C0C0C0;  
}
*::-webkit-scrollbar-thumb {
  background-color: #C9C9C9; 
  border-radius: 10px;
}

/*
black
	#000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/